html,
body {
  color: #4d4e53;
  min-width: 290px;
  line-height: 1.5;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
}

#navbar {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  position: fixed;
  min-width: 290px;
  border-right: solid rgba(0, 22, 22, 0.4);
}

#navbar header {
  margin: 0px;
  padding: 10px;
  background: #28B463;
  box-sizing: border-box;
}

header {
  margin: 10px;
  color: white;
  font-size: 1.8em;
  font-weight: thin;
  text-align: center;
}

#main-doc header {
  margin: 0px;
  font-size: 35px;
  color: #3498DB;
  text-align: left;
  font-family: 'Dosis', sans-serif;
}

#navbar ul {
  padding: 0;
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #F5B041;
}

#navbar li {
  width: 100%;
  color: #4d4e53;
  list-style: none;
  position: relative;
  border-top: 1px solid;
}

#navbar a {
  display: block;
  cursor: pointer;
  color: #566573;
  font-weight: 520;
  padding: 10px 30px;
  text-decoration: none;
}

#navbar a:hover {
  color: white;
  transition: 1.0s ease;
  background: #28B463;
  text-decoration: underline;
}

#main-doc {
  padding: 20px;
  position: absolute;
  margin-left: 310px;
  margin-bottom: 110px;
}

section li {
  margin: 15px 0px 0px 20px;
}

section article {
  margin: 15px;
  color: #4d4e53;
  font-size: 0.96em;
}

code {
  width: 70%;
  margin: 10px;
  padding: 10px;
  line-height: 2;
  display: block;
  line-height: 2;
  color: white;
  font-size: 15px;
  text-align: left;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  border-radius: 5px;
  background-color: #f7f7f7;
  background-color: #F5B041;
  border: 1px dashed #900C3F;
}

code:hover {
  color: white;
  background: #28B463;
  transition: 1.0s ease;
}

@media only screen and (max-width: 815px) {
  #navbar ul {
    height: 207px;
    border: 1px solid;
  }

  #navbar {
    top: 0;
    margin: 0;
    z-index: 1;
    padding: 0;
    width: 100%;
    border: none;
    max-height: 275px;
    position: absolute;
    border-bottom: 2px solid;
    background-color: white;
  }

  #main-doc {
    margin-left: 0px;
    margin-top: 270px;
    position: relative;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    min-width: 233px;
    margin-left: -20px;
    padding-left: 10px;
    padding-right: 45px;
    text-overflow: ellipsis;
  }

  #main-doc header {
    font-size: 25px;
  }

  #navbar header {
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
  }

  #navbar {
    width: 100%;
    max-height: 250px;
  }
}